{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}  
{% endblock %}

{# Main content #}
{% block content %}

<main class="energysave">
  <section class="hero">
    <div class="containers flex jcC">
      <ul class="flex hero__cat">
        <li class="cat">近年の電気代高騰にお困りの企業様へ</li>
      </ul>
      <h1 class="hero__lead cB"><em>ソーラーカーポート</em>の導入により<br class="sp-only"><em>電気代削減</em>が可能です</h1>
      <div class="hero__btn">
        <div class="ctabtn">
          <a href="/catalog/" class="more core wp-thumb">
            <div class="balloon"><span class="balloon__txt balloon__txt--cLBeige">製品の特長や料金が3分で分かる！</span></div>
            サービス資料をダウンロード
          </a>
        </div>
      </div>
    </div>
  </section>


  <section class="attend bg-beige">
    <div class="containers">
      <h2 class="ttl-secondary cB">電気料金の高騰に<br class="sp-only">お困りではございませんか？</h2>
      <div class="scroll">
        <figure class="desc__img">
          <img src="/assets/img/pages/img-energysave01.svg" alt="電気料金の高騰にお困りではございませんか？">
          <a href="https://www.enecho.meti.go.jp/about/pamphlet/energy2022/002/#section1" target="_blank" class="desc__img--link">出典：経済産業省　資源エネルギー庁</a>
        </figure>

      </div>
      <div class="attention">
        電気は「買う」だけでなく<span class="marker"><b>「作る」ことでコスト削減する時代</b></span>です
      </div>
    </div>
  </section>

  <section class="product">
    <div class="containers">
      <h2 class="ttl-secondary">現状の太陽光発電の課題</h2>
      <ul class="flex jcA item">
        <li class="item__box">
          <img src="/assets/img/top/before.png" alt="従来の太陽光発電">
        </li>
        <li class="item__box">
          <img src="/assets/img/pages/after.png" alt="ソーラーカーポート">
        </li>
      </ul>
    </div>
  </section>

  <section class="simulation bg-beige">
    <div class="containers">
      <h2 class="ttl-secondary cB">ソーラーカーポートによる<br class="sp-only">電気代削減イメージ</h2>
      <div class="scroll">
        <figure class="desc__img"><img src="/assets/img/pages/img-energysave02.png" alt="はじめてのソーラーカーポート"></figure>
      </div>
      <div class="attention">
        自社で発電した電気は、<span class="marker"><b>電気料金も燃料調整費も発生しません。</b></span><br>
        従来の電気代の削減はもちろん、<br><span class="marker"><b>電気代高騰のリスクにも備えることができます！</b></span>
      </div>
    </div>
  </section>

  <section class="material">
    <div class="containers">
      <div class="flex aiC jcC gap30 desc">
        <figure class="desc__img"><img src="/assets/img/common/img-wp.png" alt="はじめてのソーラーカーポート"></figure>
        <summary class="desc__box">
          <h3 class="desc__box--sub">事業者向けソーラーカーポートの導入方法と必要な準備</h3>
          <h2 class="desc__box--ttl">はじめてのソーラーカーポート</h2>
          <a href="/catalog/" class="more">ホワイトペーパーをダウンロード</a>
        </summary>
      </div>
    </div>
  </section>

  <section class="features bg-beige">
    <div class="containers">
      <h2 class="ttl-secondary">BGPソーラーカーポートの特長</h2>
      <div class="lead">商業施設や工場をお持ちの事業者様に<br class="sp-only">特化したソーラーカーポートです。</div>
      <ul class="flex gap20 card">
        <li class="card__box">
          <figure class="card__box--img"><img src="/assets/img/top/icon01.svg" alt="工期が短い"></figure>
          <h3 class="card__box--ttl">工期が短い</h3>
          <div class="card__box--txt">コンクリート基礎が不要な工法のため、大幅に工期を短縮できます。</div>
        </li>
        <li class="card__box">
          <figure class="card__box--img"><img src="/assets/img/top/icon02.svg" alt="フレキシビリティ"></figure>
          <h3 class="card__box--ttl">フレキシビリティ</h3>
          <div class="card__box--txt">組み立ては容易に組み立てと解体が可能です。1～3日で設置、解体が可能です。</div>
        </li>
        <li class="card__box">
          <figure class="card__box--img"><img src="/assets/img/top/icon03.svg" alt="環境にやさしい"></figure>
          <h3 class="card__box--ttl">環境にやさしい</h3>
          <div class="card__box--txt">コンクリートを使用しないため、CO2削減に貢献できます。</div>
        </li>
        <li class="card__box">
          <figure class="card__box--img"><img src="/assets/img/top/icon04.svg" alt="レイアウトの自由度"></figure>
          <h3 class="card__box--ttl">レイアウトの自由度</h3>
          <div class="card__box--txt">片持ち屋根のため、駐車スペース内に柱が配置することはないため自由にレイアウト可能です。</div>
        </li>
      </ul>
      <a href="/bgp/#features" class="more bgW">サービス詳細を見る</a>
      <a href="/catalog/" class="flex aiC jcC gap60 wp-card">
        <figure class="wp-card__img"><img src="/assets/img/top/img-wp.jpg" alt="BGPソーラーカーポート"></figure>
        <summary class="wp-card__box">
          <div class="wp-card__box--sub">導入メリット・費用が3分で分かる！</div>
          <h3 class="wp-card__box--ttl">BGPソーラーカーポート</h3>
          <div class="more">サービス資料をダウンロード</div>
        </summary>
      </a>
    </div>
  </section>

  <section class="hojo">
    <div class="containers">
      <h2 class="ttl-secondary cB">「税制優遇」や「補助金」が活用できる場合があります。</h2>
      <div class="lead">太陽光発電の導入にあたり、「中小企業経営強化税制」による優遇を受けられたり、地方自治体様によっては「補助金」が<br class="pc-only">活用できるケースもあり、有効活用することで、導入費用の負担を低減できます。</div>
      <div class="flex aiC jcC desc">
        <figure class="desc__img"><img src="/assets/img/pages/img-energysave03.png" alt="ソーラーカーボードの導入費用"></figure>
        <summary class="desc__box">
          <span class="caution">※税制優遇や補助金には適用期間が設けられています。詳しくは<a href="/contact/">お問い合わせ</a>ください。</span>
        </summary>
      </div>
    </div>
  </section>

  <section class="inquiry">
    <div class="containers">
      <h2 class="ttl-secondary cW">ソーラーカーポートの導入・<br class="sp-only">設置に関する<br>お問合せや簡易お見積り依頼は<br class="sp-only">お気軽にご連絡ください。</h2>
      <a href="/contact/" class="more">お問合せ・簡易お見積り（無料）</a>
      <div class="flex jcC gap20 aiC inquiry__tel">
        <a href="tel:0120090720" class="tel">0120-09-0720</a>
        <span>（平日：09:30～18:30）</span>
      </div>
      <summary class="flex aiC inquiry__box">
        <div class="inquiry__box--txt">サービス資料やお役立ち資料を<br class="sp-only">ご希望の方はこちら</div>
        <div class="flex inquiry__box--btn">
          <a href="/catalog/" class="more tiny bgW"><span>サービス資料</span></a>
          <a href="/whitepaper/" class="more tiny bgW"><span>お役立ち資料</span></a>
        </div>
      </summary>
    </div>
  </section>

</main>

{% endblock %}