{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}
{% endblock %}

{# Main content #}
{% block content %}

<main class="bgp">

  <section class="hero">
    <div class="containers">
      <h1 class="ttl-primary">BGPソーラーカーポート</h1>
      <ul class="attention-list">
        <li><span class="border"><b>横柱がないので駐車しやすい</b></span>スマートなソーラーカーポートシステム</li>
        <li><span class="border"><b>任意評定取得</b></span>により<span class="border"><b>大幅に建築確認申請が簡略化</b></span>可能！</li>
      </ul>
      <div class="hero__btn">
        <div class="ctabtn">
          <a href="/catalog/" class="more core wp-thumb">
            <div class="balloon"><span class="balloon__txt balloon__txt--cLBeige">製品の特長や料金が3分で分かる！</span></div>
            サービス資料をダウンロード
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="anc">
    <div class="containers">
      <ul class="flex jcC gap30 inherit anc__box">
        <li><a href="#about">製品概要</a></li>
        <li><a href="#features">特長</a></li>
        <li><a href="#complete-img">完成イメージ図</a></li>
        <li><a href="#introduction">導入までの流れ</a></li>
      </ul>
    </div>
  </section>

  <section class="about bg-beige" id="about">
    <div class="containers">
      <h2 class="ttl-secondary">BGPソーラーカーポートとは</h2>
      <div class="lead">商業施設や工場をお持ちの事業者様に特化した<br class="sp-only">ソーラーカーポートです。</div>
      <ul class="flex gap20 card">
        <li class="card__box">
          <h3 class="card__box--ttl">商業施設・店舗</h3>
          <figure class="card__box--img"><img src="/assets/img/pages/icon-bgp01.svg" alt="商業施設・店舗"></figure>
          <ul class="card__box--list">
            <li>太陽光発電によって電気代の節約をしたい</li>
            <li>災害対策に駐車場を有効活用したい</li>
          </ul>
        </li>
        <li class="card__box">
          <h3 class="card__box--ttl">工場施設</h3>
          <figure class="card__box--img"><img src="/assets/img/pages/icon-bgp02.svg" alt="工場施設"></figure>
          <ul class="card__box--list">
            <li>再生可能エネルギー利用で電力の自給率を向上したい</li>
          </ul>
        </li>
        <li class="card__box">
          <h3 class="card__box--ttl">福祉施設・病院</h3>
          <figure class="card__box--img"><img src="/assets/img/pages/icon-bgp03.svg" alt="福祉施設・病院"></figure>
          <ul class="card__box--list">
            <li>太陽光発電によって電気代の節約をしたい</li>
            <li>災害対策に駐車場を有効活用したい</li>
          </ul>
        </li>
        <li class="card__box">
          <h3 class="card__box--ttl">官公庁・地方自治体</h3>
          <figure class="card__box--img"><img src="/assets/img/pages/icon-bgp04.svg" alt="官公庁・地方自治体"></figure>
          <ul class="card__box--list">
            <li>SDGsやRE100<br>
              （Renewable Energy 100%）<br>
              への取り組みを推進したい</li>
          </ul>
        </li>
      </ul>
    </div>
  </section>

  <section class="features bg-beige" id="features">
    <div class="containers">
      <h2 class="ttl-secondary">BGPソーラーカーポートの特長</h2>
      <div class="lead">BGPソーラーカーポートは以下の4つの点で優れています。</div>
      <ul class="flex gap20 card">
        <li class="card__box">
          <figure class="card__box--img"><img src="/assets/img/top/icon01.svg" alt="工期が短い"></figure>
          <h3 class="card__box--ttl">工期が短い</h3>
          <div class="card__box--txt">コンクリート基礎が不要な工法のため、大幅に工期を短縮できます。</div>
        </li>
        <li class="card__box">
          <figure class="card__box--img"><img src="/assets/img/top/icon02.svg" alt="フレキシビリティ"></figure>
          <h3 class="card__box--ttl">フレキシビリティ</h3>
          <div class="card__box--txt">組み立ては容易に組み立てと解体が可能です。1～3日で設置、解体が可能です。</div>
        </li>
        <li class="card__box">
          <figure class="card__box--img"><img src="/assets/img/top/icon03.svg" alt="コンクリートを殆ど使用しない"></figure>
          <h3 class="card__box--ttl">コンクリートを殆ど<br>使用しない</h3>
          <div class="card__box--txt">コンクリートを使用しないため、CO2削減に貢献できます。</div>
        </li>
        <li class="card__box">
          <figure class="card__box--img"><img src="/assets/img/top/icon04.svg" alt="レイアウトの自由度"></figure>
          <h3 class="card__box--ttl">レイアウトの自由度</h3>
          <div class="card__box--txt">片持ち屋根のため、駐車スペース内に柱が配置することはないため自由にレイアウト可能です。</div>
        </li>
      </ul>
      <a href="#" class="flex aiC jcC gap60 wp-card">
        <figure class="wp-card__img"><img src="/assets/img/top/img-wp.jpg" alt="BGPソーラーカーポート"></figure>
        <summary class="wp-card__box">
          <div class="wp-card__box--sub">導入メリット・費用が3分で分かる！</div>
          <h3 class="wp-card__box--ttl">BGPソーラーカーポート</h3>
          <div class="more">サービス資料をダウンロード</div>
        </summary>
      </a>
    </div>
  </section>

  <section class="product">
    <div class="containers">
      <h2 class="ttl-secondary">23年4月任意評定取得により建築確認申請が大幅に簡略化可能！</h2>
      <div class="lead">ソーラーカーポートの設置には、建築確認申請が必要です。<br>当社では、建築確認申請の代行もトータルサポートいたします。</div>
      <ul class="flex jcA item">
        <li class="item__box">
          <img src="/assets/img/pages/before-bgp.png" alt="建築確認申請の流れ  1. 建築確認申請書類の作成 2. 建築確認申請書類の提出 3. 検査機関・自治体による確認 4. 確認済証受領 設置工事開始">
        </li>
        <li class="item__box">
          <img src="/assets/img/pages/after-bgp.png" alt="BGPソーラーカーポートなら 任意評定取得（片流れ型）しているため建築確認申請が簡略化可能です！">
        </li>
      </ul>
    </div>
  </section>

  <section class="complete-img bg-beige" id="complete-img">
    <div class="containers">
      <h2 class="ttl-secondary">BGPソーラーカーポートの<br class="sp-only">完成イメージ図</h2>
      <div class="flex jcA item">
        <div class="item__box">
          <h3 class="item__box--ttl"><b>片流れタイプ</b></h3>
          <figure class="item__box--img01"><img src="/assets/img/pages/img-bgp01.png" alt="片流れタイプ"></figure>
        </div>
        <div class="item__box">
          <h3 class="item__box--ttl"><b>背中合わせタイプ</b></h3>
          <figure class="item__box--img02"><img src="/assets/img/pages/img-bgp02.png" alt="背中合わせタイプ"></figure>
        </div>
      </div>
    </div>
  </section>

  <section class="introduction bg-beige" id="introduction">
    <div class="containers">
      <h2 class="ttl-secondary">導入までの流れ</h2>
      <div class="flex jcA item">
        <figure class="item__box--img">
          <img src="/assets/img/pages/img-bgp03.png" alt="導入までの流れ" class="pc-only">
          <img src="/assets/img/pages/img-bgp03_sp.png" alt="導入までの流れ" class="sp-only">
        </figure>
      </div>
      <a href="/flow/" class="more bgW">詳しい情報を見る</a>
    </div>
  </section>

  <section class="support">
    <div class="containers">
      <h2 class="ttl-secondary">初めてご検討されるお客様でも<br>ソーラーカーポートの設置を<br class="sp-only">ワンストップでサポートいたします</h2>
      <ul class="flex gap20 card">
        <li class="card__box">
          <figure class="card__box--img"><img src="/assets/img/pages/icon01.svg" alt="導入計画の策定"></figure>
          <h3 class="card__box--ttl">導入計画の策定</h3>
          <ul class="card__box--list">
            <li>現地調査を行い、設置場所や設置台数の確認を精査</li>
            <li>「期待できる発電量」<br>「電気代削減効果」を試算</li>
          </ul>
        </li>
        <li class="card__box">
          <figure class="card__box--img"><img src="/assets/img/pages/icon02.svg" alt="建築確認申請代行"></figure>
          <h3 class="card__box--ttl">建築確認申請代行</h3>
          <ul class="card__box--list">
            <li>建築確認申請作成・提出</li>
          </ul>
        </li>
        <li class="card__box">
          <figure class="card__box--img"><img src="/assets/img/pages/icon03.svg" alt="設置・施工"></figure>
          <h3 class="card__box--ttl">設置・施工</h3>
          <ul class="card__box--list">
            <li>地盤調査をもとにソーラーカーポートの詳細設計</li>
            <li>ソーラーカーポートの<br>調達・工事</li>
          </ul>
        </li>
        <li class="card__box">
          <figure class="card__box--img"><img src="/assets/img/pages/icon04.svg" alt="保守・点検"></figure>
          <h3 class="card__box--ttl">保守・点検</h3>
          <ul class="card__box--list">
            <li>ソーラーカーポートの<br>年次点検</li>
            <li>定期電気メンテナンス</li>
          </ul>
        </li>
      </ul>
    </div>
  </section>


  <section class="inquiry">
    <div class="containers">
      <h2 class="ttl-secondary cW">ソーラーカーポートの導入・<br class="sp-only">設置に関する<br>お問合せや簡易お見積り依頼は<br
          class="sp-only">お気軽にご連絡ください。</h2>
      <a href="/contact/" class="more">お問合せ・簡易お見積り（無料）</a>
      <div class="flex jcC gap20 aiC inquiry__tel">
        <a href="tel:0120090720" class="tel">0120-09-0720</a>
        <span>（平日：09:30～18:30）</span>
      </div>
      <summary class="flex aiC inquiry__box">
        <div class="inquiry__box--txt">サービス資料やお役立ち資料を<br class="sp-only">ご希望の方はこちら</div>
        <div class="flex inquiry__box--btn">
          <a href="/catalog/" class="more tiny bgW"><span>サービス資料</span></a>
          <a href="/whitepaper/" class="more tiny bgW"><span>お役立ち資料</span></a>
        </div>
      </summary>
    </div>
  </section>

</main>

{% endblock %}