<footer>
  <div class="containers nav">
    <nav class="flex">
      <div class="nav__box">
        <div class="nav__box--ttl">BGPソーラーカーポート</div>
        <ul class="nav__box--list">
          <li><a href="/bgp/">BGPソーラーカーポートとは</a></li>
          <li><a href="/flow/">導入までの流れ</a></li>
          <li><a href="/question/">よくあるご質問</a></li>
          <li><a href="/strength/">当社の強み</a></li>
        </ul>
      </div>
      <div class="nav__box">
        <div class="nav__box--ttl">ニーズ・課題から探す</div>
        <ul class="nav__box--list">
          <li><a href="/decarbonization/">脱炭素に取り組みたい</a></li>
          <li><a href="/energysave/">電気代を削減したい</a></li>
        </ul>
      </div>
      <div class="nav__box">
        <div class="nav__box--ttl">お役立ち情報</div>
        <ul class="nav__box--list">
          <li><a href="/whitepaper/">お役立ち資料</a></li>
          <li><a href="/column/">お役立ちコラム</a></li>
          <li><a href="/news/">お知らせ</a></li>
        </ul>
      </div>
      <div class="nav__box">
        <div class="nav__box--ttl">お問合せ</div>
        <ul class="nav__box--list">
          <li><a href="/catalog/">サービス資料ダウンロード</a></li>
          <li><a href="/contact/">お問合せ・簡易お見積り</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <aside class="aside">
    <ul class="flex jcC inherit aside__nav">
      <li><a href="/company/">企業情報</a></li>
      <li><a href="https://www.bgpro.jp/privacy/" target="_blank">個人情報保護ポリシー</a></li>
      <li><a href="/sitemap/">サイトマップ</a></li>
    </ul>
    <div class="aside__copy">Copyright © 屋上緑化システム.jp All Rights Reserved.</div>
  </aside>
</footer>