{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}  
{% endblock %}

{# Main content #}
{% block content %}

<main class="all-news">

  <section class="">
    <div class="containers flex">

    <!-- ニュース詳細 -->
    <section class="main-conts news-single">

      <div class="flex gap20 fS aiC inherit news-single__date">
        <time class="time">2021.3.8</time>
        <span class="cat">カテゴリ名</span>
      </div>

      <h1 class="news-single__h1">お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。〈h1〉</h1>

      <ul class="flex gap20 fS aiC sns">
        <li><a href="#"><img src="/assets/img/common/in.svg" alt="LinkedIn"></a></li>
        <li><a href="#"><img src="/assets/img/common/fb.svg" alt="Facebook"></a></li>
        <li><a href="#"><img src="/assets/img/common/tw.svg" alt="Twitter"></a></li>
      </ul>

      <div class=" news-single__lead">リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。</div>

      <div class=" news-single__conts">
        <p>お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。</p>
        <p>お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。</p>
      </div>

    </section>

    <!-- サイドメニュー -->
    <aside class="side-nav">

      <a href="/contact/" class="bnr-contact"><img src="/assets/img/common/bnr-contact.png" alt="お問合せ・簡易お見積り"></a>

      <div class="catSearch">
        <h3 class="ttl-tertiary">カテゴリで探す</h3>
        <ul class="catSearch__list">
          <li><a href="#">カテゴリ名が入ります</a></li>
          <li><a href="#">カテゴリ名が入ります</a></li>
          <li><a href="#">カテゴリ名が入ります</a></li>
          <li><a href="#">カテゴリ名が入ります</a></li>
        </ul>
      </div>

    </aside>

    </div>
  </section>

  <?php get_template_part( 'template-parts/inquiry' ); ?>

</main>

{% endblock %}