{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}
{% endblock %}

{# Main content #}
{% block content %}

<main class="decarbonization">
  <section class="hero">
    <div class="containers flex jcC">
      <ul class="flex hero__cat">
        <li class="cat">SDGsの取り組みを推進している企業様</li>
        <li class="cat">RE100に加盟している企業様</li>
        <li class="cat">Scope3の排出削減を求められている企業様</li>
      </ul>
      <h1 class="hero__lead cB"><em>ソーラーカーポート</em>で<br class="sp-only"><em>脱炭素経営</em>を推進できます</h1>
      <div class="hero__btn">
        <div class="ctabtn">
          <a href="/catalog/" class="more core wp-thumb">
            <div class="balloon"><span class="balloon__txt balloon__txt--cLBeige">製品の特長や料金が3分で分かる！</span></div>
            サービス資料をダウンロード
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="recommend">
    <div class="containers">
      <h2 class="ttl-secondary cB">以下のような事業者様・<br class="sp-only">地方自治体様に<br class="pc-only">おすすめです！</h2>
      <div class="flex jcA gap20">
        <a href="#to-page-link01" class="card">
          <summary class="card__box">
            <h3 class="card__box--ttl">事業活動に伴う<br>CO2排出量を削減したい</h3>
          </summary>
          <figure class="card__img"><img src="/assets/img/pages/img-decarbonization01.png" alt=""></figure>
        </a>
        <a href="#to-page-link02" class="card">
          <summary class="card__box">
            <h3 class="card__box--ttl">再生可能エネルギーの活用で<br>企業イメージを向上したい</h3>
          </summary>
          <figure class="card__img"><img src="/assets/img/pages/img-decarbonization02.png" alt=""></figure>
        </a>
        <a href="#to-page-link03" class="card">
          <summary class="card__box">
            <h3 class="card__box--ttl">取引先からCO2排出量削減<br>の取り組みを求められている</h3>
          </summary>
          <figure class="card__img"><img src="/assets/img/pages/img-decarbonization03.png" alt=""></figure>
        </a>
      </div>
    </div>
  </section>

  <section class="about bg-beige">
    <div class="containers">
      <h2 class="ttl-secondary">ソーラーカーポートの導入で<br class="sp-only">解決します。</h2>
      <div class="flex aiC card" id="to-page-link01">
        <dl class="sec02__box">
          <dt>
            <h3 class="card__box--ttl">事業活動に伴うCO2排出量の削減ができる</h3>
          </dt>
          <dd class="card__box--txt">再生可能エネルギーを活用することによってCO2を排出せずに発電が可能です。また、<b>施工時にもコンクリートが不要なため、設置時のCO2排出もありません。</b>
          </dd>
        </dl>
        <figure class="sec02__img"><img src="/assets/img/pages/img-decarbonization04.png" alt="事業活動に伴うCO2排出量の削減ができる">
        </figure>
      </div>
      <div class="flex aiC card" id="to-page-link02">
        <dl class="sec02__box">
          <dt>
            <h3 class="card__box--ttl">再生可能エネルギーを活用している<br>クリーンな企業であることをアピールできる</h3>
          </dt>
          <dd class="card__box--txt">
            ソーラーカーポートは、<b>駐車場に設置するため人の目に触れやすく、</b>再生可能エネルギーを活用しているクリーンな企業であるという企業イメージアップにも繋がります。</dd>
        </dl>
        <figure class="sec02__img"><img src="/assets/img/pages/img-decarbonization05.png" alt=""></figure>
      </div>
      <div class="flex aiC card" id="to-page-link03">
        <dl class="sec02__box">
          <dt>
            <h3 class="card__box--ttl">SDGsに取り組む企業やRE100加盟企業からの<br>取引増加が見込める</h3>
          </dt>
          <dd class="card__box--txt">再生可能エネルギーを活用することにより、<b>Scope３のCO2排出量を削減したい企業に選ばれやすくなり、</b>大手企業との取引増加にも寄与します。</dd>
        </dl>
        <figure class="sec02__img"><img src="/assets/img/pages/img-decarbonization06.png" alt=""></figure>
      </div>
    </div>
  </section>

  <section class="product">
    <div class="containers">
      <h2 class="ttl-secondary">改正省エネ法による罰則リスク<br class="sp-only">だけでなく<br class="pc-only">CO2排出に伴う増税が<br
          class="sp-only">検討されています</h2>
      <div class="lead">地球温暖化への対応は地球規模の重要かつ喫緊の課題であり、<br class="pc-only">
        日本政府においても低炭素社会の実現に向けて、2050年までに80％の温室効果ガスの排出削減を目指しています。<br><br>
        改正省エネ法により、エネルギーの使用の合理化への取り組みが著しく不十分であるときには<br class="pc-only">
        国による勧告、公表、命令が行われ、命令に違反した場合には100万円以下の罰金に処せられます。<br>
        炭素税の導入による増税も検討されています。</div>
      <div class="attention">
        <span class="marker"><b>ソーラーカーポートの設置</b></span>は<br>
        CO2排出に伴う<span class="marker"><b>増税や罰則の回避</b></span>にも<br class="sp-only">貢献します
      </div>
    </div>
  </section>

  <section class="material">
    <div class="containers">
      <div class="flex aiC jcC gap30 desc">
        <figure class="desc__img"><img src="/assets/img/common/img-wp.png" alt="はじめてのソーラーカーポート"></figure>
        <summary class="desc__box">
          <h3 class="desc__box--sub">詳細・料金が3分で分かる！<br>事業者向けソーラーカーポートの導入方法と必要な準備</h3>
          <h2 class="desc__box--ttl">はじめてのソーラーカーポート</h2>
          <a href="/catalog/" class="more">ホワイトペーパーをダウンロード</a>
        </summary>
      </div>
    </div>
  </section>

  <section class="features bg-beige">
    <div class="containers">
      <h2 class="ttl-secondary">ソーラーカーポートの設置を<br class="sp-only">検討している企業様へ</h2>
      <div class="lead">初めてご検討されるお客様でも<br class="sp-only">ソーラーカーポートの設置にまつわる業務を<br class="sp-only">ワンストップでサポートいたします。
      </div>
      <ul class="flex gap20 card">
        <li class="card__box">
          <figure class="card__box--img"><img src="/assets/img/pages/icon01.svg" alt="導入計画の策定"></figure>
          <h3 class="card__box--ttl">導入計画の策定</h3>
          <ul class="card__box--list">
            <li>現地調査を行い、設置場所や設置台数の確認を精査</li>
            <li>「期待できる発電量」<br>「電気代削減効果」を試算</li>
          </ul>
        </li>
        <li class="card__box">
          <figure class="card__box--img"><img src="/assets/img/pages/icon02.svg" alt="建築確認申請代行"></figure>
          <h3 class="card__box--ttl">建築確認申請代行</h3>
          <ul class="card__box--list">
            <li>建築確認申請作成・提出</li>
          </ul>
        </li>
        <li class="card__box">
          <figure class="card__box--img"><img src="/assets/img/pages/icon03.svg" alt="設置・施工"></figure>
          <h3 class="card__box--ttl">設置・施工</h3>
          <ul class="card__box--list">
            <li>地盤調査をもとにソーラーカーポートの詳細設計</li>
            <li>ソーラーカーポートの<br>調達・工事</li>
          </ul>
        </li>
        <li class="card__box">
          <figure class="card__box--img"><img src="/assets/img/pages/icon04.svg" alt="保守・点検"></figure>
          <h3 class="card__box--ttl">保守・点検</h3>
          <ul class="card__box--list">
            <li>ソーラーカーポートの<br>年次点検</li>
            <li>定期電気メンテナンス</li>
          </ul>
        </li>
      </ul>
    </div>
  </section>


  <section class="strength card-type1">
    <div class="containers">
      <h2 class="ttl-secondary">BGPソーラーカーポートの強み</h2>
      <ul class="flex gap30 card">
        <li class="card__box">
          <h3 class="card__box--ttl core">片持ち屋根のため<br class="pc-only">駐車がしやすい</h3>
          <figure class="card__box--img"><img src="/assets/img/common/img01.jpg" alt="片持ち屋根のため駐車がしやすい"></figure>
          <div class="card__box--txt">駐車場スペース内に柱が配置することはないため自由にレイアウト可能であり、駐車のしやすさから利用者の利便性も高い点が特長です。</div>
        </li>
        <li class="card__box">
          <h3 class="card__box--ttl core">高い構造技術力</h3>
          <figure class="card__box--img"><img src="/assets/img/common/img02.jpg" alt="高い構造技術力"></figure>
          <div class="card__box--txt">東京理科大学発ベンチャー企業の株式会社サイエンス構造社製であり、23年4月任意評定取得（片流れ型）により大幅に建築確認申請が簡略化されます。</div>
        </li>
        <li class="card__box">
          <h3 class="card__box--ttl core">設置・施工～建築確認申請まで<br>フルサポート</h3>
          <figure class="card__box--img"><img src="/assets/img/common/img03.jpg" alt="設置・施工～建築確認申請までフルサポート"></figure>
          <div class="card__box--txt">製品開発元である株式会社サイエンス構造社にて設置・施工はもちろん、建築確認申請のサポートまで行います。</div>
        </li>
      </ul>
      <a href="/strength/" class="more bgW">詳しい情報を見る</a>
      <a href="/catalog/" class="flex aiC jcC gap60 wp-card">
        <figure class="wp-card__img"><img src="/assets/img/top/img-wp.jpg" alt="BGPソーラーカーポート"></figure>
        <summary class="wp-card__box">
          <div class="wp-card__box--sub">導入メリット・費用が3分で分かる！</div>
          <h3 class="wp-card__box--ttl">BGPソーラーカーポート</h3>
          <div class="more">サービス資料をダウンロード</div>
        </summary>
      </a>
    </div>
  </section>

  <section class="inquiry">
    <div class="containers">
      <h2 class="ttl-secondary cW">ソーラーカーポートの導入・<br class="sp-only">設置に関する<br>お問合せや簡易お見積り依頼は<br
          class="sp-only">お気軽にご連絡ください。</h2>
      <a href="/contact/" class="more">お問合せ・簡易お見積り（無料）</a>
      <div class="flex jcC gap20 aiC inquiry__tel">
        <a href="tel:0120090720" class="tel">0120-09-0720</a>
        <span>（平日：09:30～18:30）</span>
      </div>
      <summary class="flex aiC inquiry__box">
        <div class="inquiry__box--txt">サービス資料やお役立ち資料を<br class="sp-only">ご希望の方はこちら</div>
        <div class="flex inquiry__box--btn">
          <a href="/catalog/" class="more tiny bgW"><span>サービス資料</span></a>
          <a href="/whitepaper/" class="more tiny bgW"><span>お役立ち資料</span></a>
        </div>
      </summary>
    </div>
  </section>

</main>

{% endblock %}